In [16]:
import pandas as pd
#yeni kütüphane eklendiğinde bu satır tekrar çalıştırılacak

In [17]:
df=pd.read_csv("houses_Madrid-checkpoint.csv")
# Veri seti dahil etme

In [18]:
# İlk 10 satırı görüntüle
df.head(10)

,Unnamed: 0,id,title,subtitle,sq_mt_built,sq_mt_useful,n_rooms,n_bathrooms,n_floors,sq_mt_allotment,...,energy_certificate,has_parking,has_private_parking,has_public_parking,is_parking_included_in_price,parking_price,is_orientation_north,is_orientation_west,is_orientation_south,is_orientation_east
0,0,21742,"Piso en venta en calle de Godella, 64","San Cristóbal, Madrid",64.0,60.0,2,1.0,NaN,NaN,...,D,False,NaN,NaN,NaN,NaN,False,True,False,False
1,1,21741,Piso en venta en calle de la del Manojo de Rosas,"Los Ángeles, Madrid",70.0,NaN,3,1.0,NaN,NaN,...,en trámite,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2,21740,"Piso en venta en calle del Talco, 68","San Andrés, Madrid",94.0,54.0,2,2.0,NaN,NaN,...,no indicado,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3,21739,Piso en venta en calle Pedro Jiménez,"San Andrés, Madrid",64.0,NaN,2,1.0,NaN,NaN,...,en trámite,False,NaN,NaN,NaN,NaN,False,False,True,False
4,4,21738,Piso en venta en carretera de Villaverde a Val...,"Los Rosales, Madrid",108.0,90.0,2,2.0,NaN,NaN,...,en trámite,True,NaN,NaN,True,0.0,True,True,True,True
5,5,21737,Piso en venta en geologia,"San Andrés, Madrid",126.0,114.0,4,2.0,NaN,NaN,...,en trámite,True,NaN,NaN,True,0.0,False,False,False,True
6,6,21736,Piso en venta en avenida Real de Pinto,"San Andrés, Madrid",120.0,100.0,5,2.0,NaN,NaN,...,F,True,NaN,NaN,True,0.0,False,False,True,False
7,7,21735,Piso en venta en San Andrés,"Villaverde, Madrid",125.0,100.0,3,2.0,NaN,NaN,...,no indicado,False,NaN,NaN,NaN,NaN,False,False,True,False
8,8,21734,Piso en venta en Butarque,"Villaverde, Madrid",84.0,70.0,3,2.0,NaN,NaN,...,F,True,NaN,NaN,True,0.0,NaN,NaN,NaN,NaN
9,9,21733,Piso en venta en calle de Martinez Oviol,"Los Rosales, Madrid",85.0,NaN,2,1.0,NaN,NaN,...,en trámite,False,NaN,NaN,NaN,NaN,False,True,False,False

In [19]:
df.shape
#veri setinin kaç satır ve sütundan olşutuğuna bakalım

(21742, 58)

In [20]:
df.size 
#veri setinin toplam kaç veriden oluştuğuna bakalım (21742 x 58)

1261036

In [21]:
df.info
#veri setini inceleyelim (kaç sütun var, veri türleri neler)

<bound method DataFrame.info of        Unnamed: 0     id                                              title  \
0               0  21742              Piso en venta en calle de Godella, 64
1               1  21741   Piso en venta en calle de la del Manojo de Rosas
2               2  21740               Piso en venta en calle del Talco, 68
3               3  21739               Piso en venta en calle Pedro Jiménez
4               4  21738  Piso en venta en carretera de Villaverde a Val...
...           ...    ...                                                ...
21737       21737      5       Ático en venta en Casco Histórico de Barajas
21738       21738      4  Piso en venta en Urb. Campo de las Naciones - ...
21739       21739      3  Piso en venta en Campo de las Naciones-Corralejos
21740       21740      2      Chalet adosado en venta en calle Burriana, 12
21741       21741      1             Piso en venta en calle San Epifanio, 9

                                       subtitle  sq_mt_built  sq_mt_useful  \
0                         San Cristóbal, Madrid         64.0          60.0
1                           Los Ángeles, Madrid         70.0           NaN
2                            San Andrés, Madrid         94.0          54.0
3                            San Andrés, Madrid         64.0           NaN
4                           Los Rosales, Madrid        108.0          90.0
...                                         ...          ...           ...
21737                           Barajas, Madrid         78.0           NaN
21738                           Barajas, Madrid         96.0          83.0
21739                           Barajas, Madrid        175.0           NaN
21740  Campo de las Naciones-Corralejos, Madrid        289.0           NaN
21741                          Imperial, Madrid         72.0           NaN

       n_rooms  n_bathrooms  n_floors  sq_mt_allotment  ...  \
0            2          1.0       NaN              NaN  ...
1            3          1.0       NaN              NaN  ...
2            2          2.0       NaN              NaN  ...
3            2          1.0       NaN              NaN  ...
4            2          2.0       NaN              NaN  ...
...        ...          ...       ...              ...  ...
21737        2          2.0       NaN              NaN  ...
21738        2          2.0       NaN              NaN  ...
21739        4          2.0       NaN              NaN  ...
21740        4          3.0       3.0            304.0  ...
21741        2          2.0       NaN              NaN  ...

       energy_certificate  has_parking has_private_parking  \
0                       D        False                 NaN
1              en trámite        False                 NaN
2             no indicado        False                 NaN
3              en trámite        False                 NaN
4              en trámite         True                 NaN
...                   ...          ...                 ...
21737          en trámite         True                 NaN
21738          en trámite         True                 NaN
21739                   E         True                 NaN
21740          en trámite         True                 NaN
21741                   A         True                 NaN

       has_public_parking is_parking_included_in_price parking_price  \
0                     NaN                          NaN           NaN
1                     NaN                          NaN           NaN
2                     NaN                          NaN           NaN
3                     NaN                          NaN           NaN
4                     NaN                         True           0.0
...                   ...                          ...           ...
21737                 NaN                         True           0.0
21738                 NaN                         True           0.0
21739                 NaN                         True           0.0
21740                 NaN                         True           0.0
21741                 NaN                         True           0.0

       is_orientation_north is_orientation_west is_orientation_south  \
0                     False                True                False
1                       NaN                 NaN                  NaN
2                       NaN                 NaN                  NaN
3                     False               False                 True
4                      True                True                 True
...                     ...                 ...                  ...
21737                   NaN                 NaN                  NaN
21738                 False                True                 True
21739                   NaN                 NaN                  NaN
21740                 False               False                 True
21741                   NaN                 NaN                  NaN

       is_orientation_east
0                    False
1                      NaN
2                      NaN
3                    False
4                     True
...                    ...
21737                  NaN
21738                 True
21739                  NaN
21740                False
21741                  NaN

[21742 rows x 58 columns]>

In [22]:
# veri setrindeki özniteliklere ait toplam veri sayısı, verilerin ortalaması minimum değerleri gibi bilgilerini inceleyelim
df.describe().T
#.T satır ve sütunları yer değiştirir

,count,mean,std,min,25%,50%,75%,max
Unnamed: 0,21742.0,10870.500000,6276.519112,0.0,5435.25,10870.5,16305.75,21741.0
id,21742.0,10871.500000,6276.519112,1.0,5436.25,10871.5,16306.75,21742.0
sq_mt_built,21616.0,146.920892,134.181865,13.0,70.00,100.0,162.00,999.0
sq_mt_useful,8228.0,103.458192,88.259192,1.0,59.00,79.0,113.00,998.0
n_rooms,21742.0,3.005749,1.510497,0.0,2.00,3.0,4.00,24.0
n_bathrooms,21726.0,2.091687,1.406992,1.0,1.00,2.0,2.00,16.0
n_floors,1437.0,3.128740,0.907713,1.0,2.00,3.0,4.00,7.0
sq_mt_allotment,1432.0,241.692737,247.484853,1.0,2.00,232.0,354.00,997.0
latitude,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
longitude,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
portal,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
door,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
rent_price,21742.0,-59170.307929,917116.183176,-34590276.0,725.00,1116.0,1687.00,2517.0
rent_price_by_area,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
buy_price,21742.0,653735.647503,782082.069836,36000.0,198000.00,375000.0,763600.00,8800000.0
buy_price_by_area,21742.0,4020.523871,1908.418774,447.0,2551.00,3720.0,5000.00,18889.0
built_year,10000.0,1970.046400,69.386705,1723.0,1957.00,1970.0,1994.00,8170.0
are_pets_allowed,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
is_furnished,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
is_kitchen_equipped,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
has_private_parking,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
has_public_parking,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
parking_price,7719.0,2658.000518,13360.966258,0.0,0.00,0.0,0.00,600000.0

In [23]:
#veri setinde her bir sütunda toplam kaç adet boş değer var bakalım
df.isnull().sum()

Unnamed: 0                          0
id                                  0
title                               0
subtitle                            0
sq_mt_built                       126
sq_mt_useful                    13514
n_rooms                             0
n_bathrooms                        16
n_floors                        20305
sq_mt_allotment                 20310
latitude                        21742
longitude                       21742
raw_address                      5465
is_exact_address_hidden             0
street_name                      5905
street_number                   15442
portal                          21742
floor                            2607
is_floor_under                   1170
door                            21742
neighborhood_id                     0
operation                           0
rent_price                          0
rent_price_by_area              21742
is_rent_price_known                 0
buy_price                           0
buy_price_by_area                   0
is_buy_price_known                  0
house_type_id                     391
is_renewal_needed                   0
is_new_development                992
built_year                      11742
has_central_heating              8134
has_individual_heating           8134
are_pets_allowed                21742
has_ac                          10531
has_fitted_wardrobes             8343
has_lift                         2386
is_exterior                      3043
has_garden                      20186
has_pool                        16571
has_terrace                     12194
has_balcony                     18421
has_storage_room                14044
is_furnished                    21742
is_kitchen_equipped             21742
is_accessible                   17668
has_green_zones                 17685
energy_certificate                  0
has_parking                         0
has_private_parking             21742
has_public_parking              21742
is_parking_included_in_price    14023
parking_price                   14023
is_orientation_north            10384
is_orientation_west             10384
is_orientation_south            10384
is_orientation_east             10384
dtype: int64

In [26]:
df=df.drop(columns=["has_private_parking","has_public_parking","is_furnished"])
#boş değer sayısı fazla olan sütunları veri setinden kaldıralım.

KeyError: "['has_private_parking', 'has_public_parking'] not found in axis"